*{
    margin: 0;
    padding: 0;
    font-family: initial;
}



.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    background-image: url("./images/save.jpeg");
    background-size: cover;

}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 40px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 5%;
}

.detel{
    font-size: 20px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: rgb(198, 114, 198);
}

.detel p{
    color: rgb(88, 63, 63);
    line-height: 22px;
}

.detel a{
    background: #000;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #eff4fd;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.download-cv:hover {
    color: aquamarine;

}


.images{
    width: 30%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 94%;
    margin-left: -100px;
    position: absolute;
    left: 85%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 5%;
}


.aboutme-section{
    /*height: 40rem;*/
    margin-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
    background-image: url("./images/abt.jpeg");
    background-size: cover;
    overflow-x: hidden;
  
  }
  .about
  {
    margin-top:10.9rem;
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1%;
    width: 100%;
  }
  .vidya1
  {
    position:relative;
    display: flex;
    flex-direction: column;
    height :250px;
    width: 20%;
    border-radius: 8%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.631);
    background-color: rgb(248, 251, 251);
    min-width: 200px;
  }
  .vidya2
  {
    position:relative;
    display: flex;
    flex-direction: column;
    height :250px;
    width: 20%;
    border-radius: 8%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.631);
    background-color: rgb(248, 251, 251);
    min-width: 200px;
  }
  .vidya3
  {
    position:relative;
    display: flex;
    flex-direction: column;
    height :250px;
    width: 20%;
    border-radius: 8%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.631);
    background-color: rgb(248, 251, 251);
    min-width: 200px;
  }

  .vidya4
  {
    position:relative;
    display: flex;
    flex-direction: column;
    height :250px;
    width: 20%;
    border-radius: 8%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.631);
    background-color: rgb(248, 251, 251);
    min-width: 200px;
  }

  .footer-index{
    background-color: #000;
    margin-top: 1%;
    height:35rem;
  
  }

  
  .footer-1{
    position:relative;
    height:37vh;
    top: 5vh;
    
  }
  .footer-text{
    position: absolute;
    top: 4vh;
    left: 5vw;
    height: 27vh;
    width: 90%;
  
  }
  .left-footer-text{
    position: absolute;
    left: 1vw;
    top: 1vh;
    height: 24vh;
    width: 25vw;
    color: aliceblue;
  }



  .mid-footer-text{
    position: absolute;
    left: 45vw;
    top: 30vh;
    height: 24vh;
    width: 25vw;
    font-size: large;
    color: aliceblue;
  }
 
  
  .right-footer-text{
    position: absolute;
    right: 1vw;
    top: 1vh;
    height: 24vh;
    width: 25vw;
  }
  
  .nav_tab_footer {
    display: inline;
    padding: 0.7vw;
    text-align: right;
    color:   #06d6a0;
  
  }

